@model SBT.WebApp.ViewModels.MakeBetPartialModel

<form class="modal-content" asp-action="MakeBet" asp-controller="Home" asp-anti-forgery="true">
    <div class="container">
        <h1>@Model.SportName</h1>
        <hr>
        <p>
            @Model.Team1 <br>
            <input asp-for="Type" type="radio" value="first"> @Model.Team1Coef
        </p>
        <p>
            Draw <br>
            <input asp-for="Type" type="radio" value="draw" checked> @Model.DrawCoef
        </p>
        <p>
            @Model.Team2 <br>
            <input asp-for="Type" type="radio" value="second"> @Model.Team2Coef
        </p>

        <label asp-for="Money"><b>Money</b></label>
        <input asp-for="Money" type="number" step="0.01" placeholder="Input money" required>

        <input asp-for="SportName" value="@Model.SportName" style="display: none;">
        <input asp-for="Team1" value="@Model.Team1" style="display: none;">
        <input asp-for="Team2" value="@Model.Team2" style="display: none;">
        <input asp-for="Team1Coef" value="@Model.Team1Coef" style="display: none;">
        <input asp-for="Team2Coef" value="@Model.Team2Coef" style="display: none;">
        <input asp-for="DrawCoef" value="@Model.DrawCoef" style="display: none;">
        <input asp-for="GameId" value="@Model.GameId" style="display: none;">

        <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn form-open-btn">Cancel</button>
            <button type="submit" class="signupbtn form-open-btn">Make a bet</button>
        </div>
    </div>
</form>