@model SBT.WebApp.ViewModels.SportSectionModel

@{
    ViewData["Title"] = "Home Page";
}



@if (User.Identity.IsAuthenticated)
{

    <header class="fixed-top page-header bg-green" style="margin-top: 0px; min-height: 70px; padding-bottom: 0px;">
        <div class="container-fluid container-fluid-max ">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 0px;">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand txt-white hov-nav-txt"><img src="~/images/logo_2.png" />    SBT.WebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="txt-white hov-nav-txt nav-link">Home</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="txt-white hov-nav-txt nav-link">About</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="txt-white hov-nav-txt nav-link">Contact</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Logout" class="txt-white hov-nav-txt nav-link">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="home" class="d-flex align-items-start position-relative vh-100 cover hero" style="background-image: url(https://www.bethard.com/static/media/bethard.a2b18dbe.png); height: 710px;">
        <div class="container-fluid container-fluid-max">
            <div class="row container4" id="id-block">
                <h1>WELCOME</h1>
            </div>
        </div>
    </div>

    <div id="id01" class="modal">
        
    </div>


    @foreach (var sportModel in Model.SportModels)
    {
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="heading-section ftco-animate">
                            <h2 class="mb-4">@sportModel.Name</h2>
                        </div>
                        @foreach (var sportDataModel in sportModel.SportDataModels)
                        {
                            <div class="scoreboard mb-5 mb-lg-0">
                                <div class="divider text-center"><span>@sportDataModel.Group; @sportDataModel.Title</span></div>

                                @foreach (var gameModel in sportDataModel.GameModels)
                                {
                                    <div class="d-sm-flex mb-4">
                                        <div class="sport-team d-flex align-items-center">
                                            <div class="text-center px-1 px-md-3 desc">
                                                <h4 class="team-name">@gameModel.Team1</h4>
                                            </div>
                                        </div>
                                        <div class="sport-team d-flex align-items-center">
                                            <div class="text-center px-1 px-md-3 desc">
                                                <h4 class="team-name">@gameModel.Team2</h4>
                                            </div>
                                        </div>
                                        <div class="sport-team d-flex align-items-center">
                                            <div class="text-center px-1 px-md-5 desc">
                                                <button onclick="document.getElementById('id01').style.display = 'block'"
                                                        style="width:auto;" class="form-btn" id="@($"bet{gameModel.Id}")">
                                                    Make a bet
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
        </section>
    }

    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $("[id^=bet]").click(function () {
            var id = parseInt(this.id.slice(3));
            $.ajax({
                url: "/Home/Bet",
                type: "POST",
                data: { "id": id },
                success: function (response) {
                    $("#id01").html(response)
                }
            });
        });

    </script>

}

